## **Import**

In [1]:
!pip install pymysql

from sqlalchemy import create_engine
import pymysql
from getpass import getpass

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

# **Login**

In [3]:
pwd = getpass('password')

password··········

##**Connect to the database**

In [4]:
url = f"mysql+pymysql://student1:{pwd}@159.203.63.26/sofvie_test"

In [5]:
engine = create_engine(url)
con = engine.connect()

## **Disconnect from database**

In [ ]:
con.close()

##**Example code**

In [10]:
import pandas as pd

data = pd.read_sql("""SELECT * FROM employee;""", con=con)
pd.set_option('expand_frame_repr', False)
print(data.head(20))

    emp_id  emp_per_id  emp_pos_id emp_employee_number emp_start_date emp_end_date  emp_reports_to_per_id emp_data_visibility    emp_created_date  emp_created_by_per_id   emp_modified_date  emp_modified_by_per_id  emp_enable emp_enote
0        1           1      3492.0                0001     2020-09-12         None                      1                 all 2020-07-07 15:32:58                      1 2020-09-12 00:00:00                       1           1
1        2           2      3452.0              181757     2019-07-29         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
2        3           3      3453.0               13038     2013-08-02         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
3        4           4      3454.0               12114     2012-07-09         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
4        5           5      3455.0               16015     2017-05-15         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
5        6           6      3456.0                7007     2007-08-07         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
6        7           7      3457.0              172208     2018-01-22         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
7        8           8      3458.0              172127     2018-01-29         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
8        9           9      6202.0               15042     2015-10-05         None                      1                 all 2020-09-12 12:55:49                      1 2022-09-07 14:32:47                     321           1
9       10          10      3455.0              171866     2017-11-06         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
10      11          11      3460.0              171582     2017-10-02         None                      1                 all 2020-09-12 12:55:49                      1 2022-03-30 10:57:22                     321           1
11      12          12      3455.0              171954     2018-11-05         None                      1                 all 2020-09-12 12:55:49                      1 2021-10-13 13:10:25                     321           0
12      13          13      3461.0               15027     2015-08-07         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
13      14          14      3461.0               13024     2013-07-22         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
14      15          15      3472.0              183200     2019-10-07         None                      1                 all 2020-09-12 12:55:49                      1 2021-12-08 15:17:23                    1776           1
15      16          16      3455.0                8004     2008-05-10         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
16      17          17      3455.0               14161     2015-01-05         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
17      18          18      3462.0               14117     2014-10-27         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
18      19          19         NaN               13046     2013-08-23         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0
19      20          20      3463.0              171131     2017-10-10         None                      1                 all 2020-09-12 12:55:49                      1 2020-09-12 12:55:49                       1           0